# Copyright (c) 2011 Richard Ian Taylor
#
#	This file is part of the iDroid Project 
#	(http://www.idroidproject.org/).

comment "Machine Types"

config PLAT_S5L
	bool
	select ARM_VIC
	select NO_IOPORT
	select ARCH_REQUIRE_GPIOLIB
	select GENERIC_CLOCKEVENTS
	help
	  Base platform code for Samsung's S5L series SoC.

config S5L_IRQ
	bool
	depends on PLAT_S5L
